Data/*.tsv filter=lfs diff=lfs merge=lfs -text
Data/*.fasta filter=lfs diff=lfs merge=lfs -text
Data/*.csv filter=lfs diff=lfs merge=lfs -text
Data/*.fa.gz filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
Data/Proteomics/raw.csv filter=lfs diff=lfs merge=lfs -text
Data/Proteomics/lfc.csv filter=lfs diff=lfs merge=lfs -text
Data/Proteomics/normalised.csv filter=lfs diff=lfs merge=lfs -text
Data/*.gz filter=lfs diff=lfs merge=lfs -text
